<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>
    <div class="sidebar">
      <div data-ng-show="!isLoggedIn()">
        <button data-ng-click="signUp = true; signIn = false" class="btn btn-info btn-sm">Create Account</button>
        <button data-ng-click="signIn = true; signUp = false" class="btn btn-info btn-sm">Sign In</button>
      </div>
      <div data-ng-show="isLoggedIn()">
        <p>Signed in as {{ currentUser() }}</p>
        <button data-ng-click="signOut() class="btn btn-info btn-sm"">Sign Out</button>
      </div>
      <form name="newUserForm" data-ng-show="signUp" class="form-group list-group list-group-item">
        <fieldset class="form-group">
          <input type='text' data-ng-model='newUser.email' placeholder='Email' class="form-control">
        </fieldset>
        <fieldset class="form-group">
          <input type='text' data-ng-model='newUser.password' placeholder='Password' class="form-control">
        </fieldset>
        <fieldset class="form-group">
          <input type='text' data-ng-model='newUser.password_confirmation' placeholder='Confirm Password' class="form-control">
        </fieldset>       
        <button data-ng-click="signUp(newUser)" class="btn btn-success btn-sm">Create</button>
        <button data-ng-click="signUp = false" class="btn btn-danger btn-sm">Cancel</button>
      </form>

      <form name="loginForm" data-ng-show="signIn" class="form-group list-group list-group-item">
        <fieldset class="form-group">
          <input type='text' data-ng-model='user.email' placeholder='Email' class="form-control">
        </fieldset>
        <fieldset class="form-group">
          <input type='text' data-ng-model='user.password' placeholder='Password' class="form-control">
        </fieldset>
        <button data-ng-click="signIn(user)" class="btn btn-success btn-sm">Sign In</button>
        <button data-ng-click="signIn = false" class="btn btn-danger btn-sm">Cancel</button>
      </form>
    </div>
    <div data-ng-controller="ProductsCtrl" data-ng-init="index()" class='content'>
      <div>
        <!--  Store Header  -->
        <header>
          <h1 class="text-center">Flatlander Crafted Gems</h1>
          <h2 class="text-center">– an Angular store –</h2>
        </header>
      <div class='list-group list-group-item'>
        <button class="btn btn-success" data-ng-click='product.adding = true'>Add a new product</button>

        <div>
          <form name='addForm' data-ng-show='product.adding'>
            <h2>Add a product!</h2>

            <fieldset class="form-group">
              <input type='text' data-ng-model='newProduct.name' placeholder='Product Name' class="form-control">
             </fieldset>
            <fieldset class="form-group">
              <textarea data-ng-model='newProduct.description' placeholder='Product Description' class="form-control">
              </textarea>
             </fieldset>
            <fieldset class="form-group">
              <input type='text' data-ng-model='newProduct.price' placeholder='Price' class="form-control">
            </fieldset>
            <div class='row'>
            <fieldset class="form-group col-md-6">
              <input type='text' data-ng-model='newProduct.shine' placeholder='Shine' class="form-control">
             </fieldset>
            <fieldset class="form-group col-md-6">
              <input type='text' data-ng-model='newProduct.rarity' placeholder='Rarity' class="form-control">
             </fieldset>
             </div>
             <div class='row'>
            <fieldset class="form-group col-md-6">
              <input type='text' data-ng-model='newProduct.color' placeholder='Color' class="form-control">
             </fieldset>
            <fieldset class="form-group col-md-6">
              <input type='text' data-ng-model='newProduct.faces' placeholder='Faces' class="form-control">
             </fieldset>
             </div>
            <button class='btn btn-success' data-ng-click='create(newProduct)'>Save</button>
            <button class="btn btn-danger" data-ng-click='product.adding = false'>Cancel</button>
          </form>
        </div>
      </div>

        <!--  Products Container  -->
        <div class="list-group">
          <!--  Product Container  -->
          <div class="list-group-item" data-ng-repeat="product in products">
            <h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>

            <!-- Image Gallery  -->
            <product-gallery></product-gallery>

            <!-- Product Tabs  -->
            <product-tabs></product-tabs>
            <div>
              <div>
                <button class="btn btn-default" data-ng-click='product.update = true'>Update Product</button>
              </div>
                <div>
                  <form name='addForm' data-ng-show='product.update'>
                    <h2>Update</h2>

                    <fieldset class="form-group">
                      <input type='text' data-ng-model='product.name' class="form-control">
                     </fieldset>
                    <fieldset class="form-group">
                      <textarea data-ng-model='product.description' class="form-control">
                      </textarea>
                     </fieldset>
                    <fieldset class="form-group">
                      <input type='text' data-ng-model='product.price' class="form-control">
                    </fieldset>
                    <div class='row'>
                    <fieldset class="form-group col-md-6">
                      <input type='text' data-ng-model='product.shine' class="form-control">
                     </fieldset>
                    <fieldset class="form-group col-md-6">
                      <input type='text' data-ng-model='product.rarity' class="form-control">
                     </fieldset>
                     </div>
                     <div class='row'>
                    <fieldset class="form-group col-md-6">
                      <input type='text' data-ng-model='product.color' class="form-control">
                     </fieldset>
                    <fieldset class="form-group col-md-6">
                      <input type='text' data-ng-model='product.faces' class="form-control">
                     </fieldset>
                     </div>
                    <button class='btn btn-success' data-ng-click='update(product)'>Save</button>
                    <button class="btn btn-danger" data-ng-click='product.update = false'>Cancel</button>
                  </form>
                </div>

              <div>
                <button class="btn btn-danger" data-ng-click='product.deleteConfirm = true' data-ng-hide='product.deleteConfirm || product.update'>Delete Product</button>
              </div>
              <div data-ng-show='product.deleteConfirm'>
                <button class="btn btn-danger" data-ng-click='destroy(product)'>Confirm</button>
                <button class="btn btn-info" data-ng-click='product.deleteConfirm = false'>Cancel</button>
              </div>
            </div>
          </div>

        </div>
      </div>  
    </div>
  </body>
</html>
