body {
  width: 600px;
  margin: 0 auto;
}

.list-group-item{
  background-color: #f8f8f8;
}

/* Form Validation */
.ng-invalid.ng-dirty {
  border-color: red;
}
.ng-valid.ng-dirty {
  border-color: green;
}

/* Images minified */
.minified {
  width: 90px;
  border: none;
  margin-bottom: 0;
}

.thumbnail {
  border: none;
  padding: 0;
}
.img-thumbnails {
  padding-left: 0px;
}
